<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel = "stylesheet" href = "/stylesheet.css">
        <!-- must be inside public folder  -->
    </head>
    <body>



        {{{body}}}






        

    </body>
</html>
