<div class="container">

        <h1>
            Sign our petition to make the use of plastic forever banned
            on this planet.
            <p>Embrace mothernature, you humans!!!</p>
        </h1>

        <div id="themeimg">
            <img src="no-plastic-bags.png" align="middle" />
        </div>

        <form id="container1" method="post">
            <p id="error">
                {{errormsg}}
            </p>
            <input type="text" placeholder="First Name" autocomplete="off" name="firstName"/>
            <input type="text" placeholder="Last Name" autocomplete="off" name="lastName"/>
            <canvas id="canvas" width="400" height="150"></canvas>
            <input type="hidden" name="signature" />
            <button id="button1" type="submit" >Submit Now?</button>
        </form>

</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="script.js" charset="utf-8"></script>
