<div class="container">
        <h4><a href="/log">Log out</a></h4>
        <h1 id="head">
            Sign our petition to make the use of plastic forever banned
            on this planet.
            <p>Embrace mothernature, you humans!!!</p>
        </h1>

        <div id="themeimg">
            <img src="no-plastic-bags.png" align="middle" />
        </div>

        <form id="container1" method="post">
            <p id="error">
                {{errormsg}}
            </p>
            <canvas id="canvas"></canvas>
            <input type="hidden" name="signature" />
            <button id="button1" type="submit" >Submit Now?</button>
            {{>csrf}}
        </form>

</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="script.js" charset="utf-8"></script>
