<div class="container">

        <div id="themeimg">
            <img src="no-plastic-bags.png" align="middle" />
        </div>
        <h1>
            You might wanna tell us more about yourself :D
        </h1>
        <form id="container1" method="post">
            <p id="error">
                {{errormsg}}
            </p>
            <input type="text" placeholder="Age" autocomplete="off" name="age"/>
            <input type="text" placeholder="City" autocomplete="off" name="city"/>
            <input type="text" placeholder="Homepage" autocomplete="off" name="homepage"/>
            <button id="button1" type="submit">CONTINUE</button>
            {{>csrf}}
        </form>

</div>
