<div class="container">
        <h1>
            Go green bros and siss, we won't get there without your support. So, join our campaign today!
            <p>Embrace mothernature, you humans!!!</p>
        </h1>
        <div id="themeimg">
            <img src="no-plastic-bags.png" align="middle" />
        </div>

        <form id="container1" method="post">
            <p id="error">
                {{errormsg}}
            </p>
            <input type="text" placeholder="First Name" autocomplete="off" name="firstName"/>
            <input type="text" placeholder="Last Name" autocomplete="off" name="lastName"/>
            <input type="text" placeholder="Email Address" autocomplete="off" name="email"/>
            <input type="password" placeholder="Password" autocomplete="off" name="pw"/>
            <button id="button1" type="submit" >SIGN UP NOW!</button>
            <p>
                If you are already a member, please <a href="/log">log in</a>.
            </p>
            {{>csrf}}
        </form>

</div>
