<div class="container">
    <h4><a href="/log">Log out</a></h4>
    <div id="themeimg">
        <img src="no-plastic-bags.png" align="middle" />
    </div>
        <h1>
            Your signature is successfully removed!
        </h1>

        <div id="container1">
            <a href="/petition">Go back to the petition signing page</a>
        </div>
</div>
