<div class="container">
    <div id="themeimg">
        <img src="no-plastic-bags.png" align="middle" />
    </div>


        <h1>
            Thank you for your signature!
        </h1>



</div>
<script>
var image = new Image(400, 150);
image.src = "{{signature}}";
document.body.appendChild(image);
</script>
